# Análise Exploratória de Dados com Pandas

Vamos utilizar Oandas para responder algumas questões relacionadas ao dataset [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./adult.data.csv', index_col = False, names = ["age", "workclass", "fnlwgt", "education", 
                                                                   "education-num", "marital-status", "occupation", 
                                                                   "relationship", "race", "sex", "capital-gain", 
                                                                   "capital-loss", "hours-per-week", "native-country", 
                                                                   "salary"])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Quantos homens e mulheres (atributo *sex*) são representados nesse dataset?

In [48]:
d = data
len(d[['sex']][~(d.isnull())])

32561

### 2. Qual a idade média (atributo *age*) das mulheres?

In [58]:
d = data
d[d['sex'] == ' Female']['age'].mean()

36.85823043357163

### 3.  Qual é a porcentagem de cidadãos alemães (atributo *native-country*)?

In [169]:
d = data
a = len(d[d['native-country'] == ' Germany'])
t = len(d)
(100 * a)/t

0.42074874850281013

### 4. Qua é a média e o desvio padrão de idade daqueles que ganham mais que 50K por ano (atributo *salary*) e daqueles que ganham menos que 50K por ano?

In [106]:
d = data
d = d[d['salary'] == ' >50K']
a = d['age']
print("média:\t\t",a.mean(),"\ndesvio padrão:\t",a.std())

média:		 44.24984058155847
desvio padrão:	 10.51902771985177

### 5. É verdade que pessoas que ganham mais que 50K possuem, pelo menos, educação superior (atributo *education*:  Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters ou Doctorate)?

In [409]:
d = data
d = d[d['salary'] == ' >50K']
not bool(len(d[~(d['education'].isin([' Bachelors', ' Prof-school', ' Assoc-acdm', 
                                      ' Assoc-voc', ' Masters', ' Doctorate']))]))

False

### 6. Mostre estatísticas sobre a idade de cada raça (atributo *race*) e cada gênero (atributo *sex*). Use as funções *groupby()* e *describe()*. Encontre a idade máxima dos homens da raça *Amer-Indian-Eskimo*.

In [152]:
d = data
d = d.groupby('race').describe() 
d['age']['max'][' Amer-Indian-Eskimo']

82.0

### 7. Encontre a proporção, considerando casados e solteiros (atributo *marital-status*), daqueles que ganham muito (>50K).

In [287]:
d = data
d = d.groupby('marital-status')['salary'].describe()['count']
d.apply(lambda x: 100 * x / float(d.sum()))

marital-status
 Divorced                 13.645158
 Married-AF-spouse         0.070637
 Married-civ-spouse       45.993673
 Married-spouse-absent     1.283744
 Never-married            32.809189
 Separated                 3.147938
 Widowed                   3.049661
Name: count, dtype: float64

### 8. Qual é o número máximo de horas que uma pessoa trabalha por semana (atributo *hours-per-week*)? Quantas pessoas trabalham esse número de horas e qual a porcentagem daqueles que ganham muito (>50K) entre eles?

In [356]:
d = data
max_hours = d['hours-per-week'].max()
max_hours_pep = d[d['hours-per-week'] == max_hours]
c = len(max_hours_pep[max_hours_pep['salary'] == ' >50K'])
print("número máximo de horas por semana: %d" % max_hours)
print("total de pessoas que trabalham %d horas: %d" % (max_hours, len(max_hours_pep)))
print("porcentagem daqueles que ganham muito (>50K) entre eles: %f" % float(c * 100/len(max_hours_pep)))

número máximo de horas por semana: 99
total de pessoas que trabalham 99 horas: 85
porcentagem daqueles que ganham muito (>50K) entre eles: 29.411765

### 9. Determine o tempo médio de trabalho (*hours-per-week*) daqueles que ganham pouco (<=50K) e muito (atributo *salary*) para cada país (atributo *native-country*). Quantos dos indivíduos são do Japão?

In [407]:
d = data
ls = d[d['salary'] == ' <=50K']
hs = d[d['salary'] == ' >50K']
jpc = d['native-country'] == ' Japan'
l = ls.groupby("native-country")
h = hs.groupby("native-country")
jl = ls[jpc]
jh = hs[jpc]
print("tempo médio de trabalho daqueles que ganham pouco:\n", l['hours-per-week'].mean())
print("\ntempo médio de trabalho daqueles que ganham muito:\n", h['hours-per-week'].mean())
print("\nquantos dos indivíduos são do Japão e ganham pouco: %d" % len(jl))
print("quantos dos indivíduos são do Japão e ganham muito: %d" % len(jh))

tempo médio de trabalho daqueles que ganham pouco:
 native-country
 ?                             40.164760
 Cambodia                      41.416667
 Canada                        37.914634
 China                         37.381818
 Columbia                      38.684211
 Cuba                          37.985714
 Dominican-Republic            42.338235
 Ecuador                       38.041667
 El-Salvador                   36.030928
 England                       40.483333
 France                        41.058824
 Germany                       39.139785
 Greece                        41.809524
 Guatemala                     39.360656
 Haiti                         36.325000
 Holand-Netherlands            40.000000
 Honduras                      34.333333
 Hong                          39.142857
 Hungary                       31.300000
 India                         38.233333
 Iran                          41.440000
 Ireland                       40.947368
 Italy                         39.625000
 Jamaica                       38.239437
 Japan                         41.000000
 Laos                          40.375000
 Mexico                        40.003279
 Nicaragua                     36.093750
 Outlying-US(Guam-USVI-etc)    41.857143
 Peru                          35.068966
 Philippines                   38.065693
 Poland                        38.166667
 Portugal                      41.939394
 Puerto-Rico                   38.470588
 Scotland                      39.444444
 South                         40.156250
 Taiwan                        33.774194
 Thailand                      42.866667
 Trinadad&Tobago               37.058824
 United-States                 38.799127
 Vietnam                       37.193548
 Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

tempo médio de trabalho daqueles que ganham muito:
 native-country
 ?                     45.547945
 Cambodia              40.000000
 Canada                45.641026
 China                 38.900000
 Columbia              50.000000
 Cuba                  42.440000
 Dominican-Republic    47.000000
 Ecuador               48.750000
 El-Salvador           45.000000
 England               44.533333
 France                50.750000
 Germany               44.977273
 Greece                50.625000
 Guatemala             36.666667
 Haiti                 42.750000
 Honduras              60.000000
 Hong                  45.000000
 Hungary               50.000000
 India                 46.475000
 Iran                  47.500000
 Ireland               48.000000
 Italy                 45.400000
 Jamaica               41.100000
 Japan                 47.958333
 Laos                  40.000000
 Mexico                46.575758
 Nicaragua             37.500000
 Peru                  40.000000
 Philippines           43.032787
 Poland                39.000000
 Portugal              41.500000
 Puerto-Rico           39.416667
 Scotland              46.666667
 South                 51.437500
 Taiwan                46.800000
 Thailand              58.333333
 Trinadad&Tobago       40.000000
 United-States         45.505369
 Vietnam               39.200000
 Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

quantos dos indivíduos são do Japão e ganham pouco: 38
quantos dos indivíduos são do Japão e ganham muito: 24

/home/henio/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/home/henio/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

### 10. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis tipo de trabalho (atributo *workclass*) e educação (atributo *education*).

In [7]:
d = data
pd.pivot_table(d, values='hours-per-week', index='workclass', columns='education', aggfunc='mean')

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
workclass,,,,,,,,,,,,,,,,
?,33.150000,31.711864,34.525000,34.916667,37.233333,32.527778,32.392157,26.234043,33.885246,32.416185,29.533333,31.896617,31.541667,34.000000,28.388889,31.363813
Federal-gov,42.166667,27.444444,35.000000,NaN,40.000000,35.000000,40.000000,41.036364,41.315789,42.617925,50.187500,40.228137,42.656716,NaN,49.896552,40.429134
Local-gov,38.225806,30.555556,36.631579,33.000000,34.555556,36.535714,37.086957,40.409091,41.651163,42.140461,43.592593,39.894632,43.827485,32.500000,45.379310,40.204134
Never-worked,35.000000,10.000000,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,22.000000
Private,36.827338,33.930661,35.141141,38.955882,39.488722,39.910377,38.258398,40.871056,41.225871,42.698676,48.668508,40.507198,44.458613,37.682927,48.101167,38.731645
Self-emp-inc,38.368421,39.285714,42.571429,40.000000,42.500000,45.714286,46.900000,47.914286,49.947368,49.402930,54.685714,47.007168,52.911392,NaN,50.839506,49.362832
Self-emp-not-inc,43.507463,40.483333,44.789474,36.769231,36.105263,42.882979,41.676471,44.211268,46.916667,44.177945,41.740000,45.435335,43.161290,NaN,45.870229,44.117284
State-gov,39.076923,33.357143,39.000000,20.000000,31.250000,31.800000,39.666667,36.853659,41.086957,39.692593,46.820225,39.425373,40.775148,24.000000,50.129032,34.698462
Without-pay,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,50.000000,NaN,NaN,NaN,28.000000,NaN,NaN,NaN,35.333333

### 11. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis ocupação (atributo *occupation*) e gênero (atributo *sex*).

In [8]:
d = data
pd.pivot_table(d, values='hours-per-week', index='occupation', columns='sex', aggfunc='mean')

sex                    Female       Male
occupation
 ?                  29.976219  33.525948
 Adm-clerical       36.741033  39.240065
 Armed-Forces             NaN  40.666667
 Craft-repair       39.869369  42.443642
 Exec-managerial    41.517688  46.371173
 Farming-fishing    37.784615  47.634015
 Handlers-cleaners  36.103659  38.198176
 Machine-op-inspct  38.929091  41.447658
 Other-service      33.437778  36.223411
 Priv-house-serv    32.489362  39.875000
 Prof-specialty     39.423762  44.096762
 Protective-serv    38.526316  43.446771
 Sales              34.274743  44.223712
 Tech-support       37.295977  40.713793
 Transport-moving   36.711111  45.130723

### 12. Exiba o desvio padrão de horas trabalhadas por país (atributo *native-country*) e gênero (atributo *sex*). Faça o mesmo para (atributo *native-country*) e raça (atributo *race*).

In [9]:
d = data
print(pd.pivot_table(d, values='hours-per-week', index='native-country', columns='sex', aggfunc='std'))
print(pd.pivot_table(d, values='hours-per-week', index='native-country', columns='race', aggfunc='std'))

sex                             Female       Male
native-country
 ?                           15.211396  10.782206
 Cambodia                     0.000000   2.719528
 Canada                      13.485235  13.067702
 China                       12.976903  10.267628
 Columbia                     7.489002   9.461821
 Cuba                        11.726340   8.956611
 Dominican-Republic           7.375636  13.521971
 Ecuador                      5.659309   9.112038
 El-Salvador                  8.451841   9.947265
 England                     15.903407  12.990480
 France                      10.561508  15.723250
 Germany                     13.713122   9.153454
 Greece                      14.703741  16.424399
 Guatemala                    7.493155   6.112883
 Haiti                       10.284761  12.674221
 Honduras                    14.387495   6.055301
 Hong                         4.082483   7.565102
 Hungary                     17.440375  18.644545
 India                        7.695335  12.594444
 Iran                         6.611678  12.739339
 Ireland                      6.106203   9.270446
 Italy                       17.755214  11.587753
 Jamaica                      9.439262   8.680843
 Japan                       10.408878  14.135728
 Laos                         5.365232   2.357023
 Mexico                      10.689034  10.211031
 Nicaragua                    8.989472   7.906515
 Outlying-US(Guam-USVI-etc)  13.214350   7.867958
 Peru                         6.612093  13.409555
 Philippines                  8.518513  11.751640
 Poland                      12.937321  10.818514
 Portugal                     5.765624   9.582449
 Puerto-Rico                 10.070566   9.294366
 Scotland                     2.236068  12.863755
 South                       17.215637  15.471950
 Taiwan                      14.674889  14.936904
 Thailand                    18.785391  23.337075
 Trinadad&Tobago             11.196590  11.486016
 United-States               11.787434  12.212134
 Vietnam                     11.423573  12.308984
 Yugoslavia                  11.547005  10.326714
race                          Amer-Indian-Eskimo   Asian-Pac-Islander  \
native-country
 ?                                           NaN            12.141564
 Cambodia                                    NaN             2.577555
 Canada                                      NaN                  NaN
 China                                       NaN            11.204241
 Columbia                                    NaN                  NaN
 Cuba                                        NaN                  NaN
 Dominican-Republic                          NaN                  NaN
 Ecuador                                     NaN                  NaN
 El-Salvador                                 NaN                  NaN
 England                                     NaN                  NaN
 France                                      NaN                  NaN
 Germany                                     NaN             9.237604
 Greece                                      NaN                  NaN
 Guatemala                                   NaN                  NaN
 Haiti                                       NaN                  NaN
 Honduras                                    NaN                  NaN
 Hong                                        NaN             7.141943
 Hungary                                     NaN                  NaN
 India                                       NaN            11.677110
 Iran                                        NaN             7.494442
 Ireland                                     NaN                  NaN
 Italy                                       NaN                  NaN
 Jamaica                                     NaN                  NaN
 Japan                                       NaN            16.396145
 Laos                                        NaN             3.865382
 Mexico                                 6.256425                  NaN
 Nicaragua                                   NaN                  NaN
 Outlying-US(Guam-USVI-etc)                  NaN                  NaN
 Peru                                        NaN                  NaN
 Philippines                                 NaN            10.645493
 Poland                                      NaN                  NaN
 Portugal                                    NaN                  NaN
 Puerto-Rico                                 NaN                  NaN
 Scotland                                    NaN                  NaN
 South                                 17.677670            16.422387
 Taiwan                                      NaN            15.041300
 Thailand                                    NaN            19.168985
 Trinadad&Tobago                             NaN             8.485281
 United-States                         11.814389            12.354182
 Vietnam                                     NaN            12.138880
 Yugoslavia                                  NaN                  NaN

race                             Black      Other      White
native-country
 ?                            8.645142   8.189943  13.395172
 Cambodia                          NaN        NaN        NaN
 Canada                            NaN        NaN  13.173727
 China                             NaN        NaN   0.000000
 Columbia                          NaN  14.099983   7.517978
 Cuba                        11.547005   7.071068  10.624096
 Dominican-Republic          12.126855  15.293213   8.621678
 Ecuador                           NaN   7.043516  11.555865
 El-Salvador                       NaN   9.574271   9.496419
 England                     11.593563        NaN  14.313919
 France                            NaN        NaN  14.955799
 Germany                      3.703280        NaN  12.799499
 Greece                            NaN        NaN  16.200913
 Guatemala                         NaN   8.246211   5.918347
 Haiti                       11.739513        NaN        NaN
 Honduras                          NaN        NaN  11.329768
 Hong                              NaN        NaN   2.828427
 Hungary                           NaN        NaN  18.527180
 India                        7.071068  21.844908  10.020515
 Iran                              NaN   7.071068  12.519363
 Ireland                           NaN        NaN   8.092108
 Italy                             NaN        NaN  13.650132
 Jamaica                      8.929211        NaN   7.021396
 Japan                        0.000000   0.000000   9.466778
 Laos                              NaN        NaN        NaN
 Mexico                       4.000000  12.190765  10.447560
 Nicaragua                    0.000000   4.000000   9.117400
 Outlying-US(Guam-USVI-etc)   7.359801        NaN  13.201055
 Peru                              NaN        NaN  11.273048
 Philippines                       NaN        NaN  11.630471
 Poland                            NaN        NaN  11.813572
 Portugal                          NaN        NaN   8.834816
 Puerto-Rico                  4.409586  11.239598   9.515704
 Scotland                          NaN        NaN   9.799119
 South                             NaN        NaN        NaN
 Taiwan                            NaN        NaN  21.213203
 Thailand                          NaN        NaN  28.284271
 Trinadad&Tobago             10.935416        NaN        NaN
 United-States               10.394117   9.750006  12.616284
 Vietnam                           NaN        NaN   0.000000
 Yugoslavia                        NaN        NaN  11.581415

### 13. Inclua a coluna *retired*, para indicar aposentadoria para quem tem mais de 60 anos e é mulher ou mais de 65 anos e é homem (atirbutos *age* e *sex*).

In [47]:
d = data
d['retired'] = ['yes' if 
                ((int(d.iloc[p,0]) >= 60 and d.iloc[p,9] == ' Female') or 
                (int(d.iloc[p,0]) >= 65 and d.iloc[p,9] == ' Male')) 
                else 'no' for p in range(0,len(d))]
d

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,retired
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,no
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,no
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,no
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,no
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,no
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,no
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,no
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,no
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,no
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,no
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,no
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,no
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,no
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,no
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,no
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,no
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,no
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,no
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,no
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,no
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,no
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,no
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,no
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,no
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,no
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,no
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,no
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,no
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,no
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,no
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,no
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,no
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,no
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,no
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,no
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,no
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,no
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,yes
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,no
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,no
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,yes
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,no
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,no
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,no
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,no
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,no
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,yes
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,no
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,no
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,no
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,no
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,no
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,no
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,no
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,no
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,no
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,no
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,no
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,no

### 14. Calcule o valor do *z-score* do tempo de trabalho por semana (atributo *hours-per-week*) de cada indivíduo, considerando como média (*mean*) e desvio padrão (*std*) os valores obtido por grupos dados pelo país de origem (atributo *native-country*) e o sexo (atributo *sex*). Dica: o *z-score* de um valor x é dado por:  *(x-mean)/std*.

In [91]:
d = data
dmean = pd.pivot_table(d, values='hours-per-week', index='native-country', columns='sex', aggfunc='count')
dstd = pd.pivot_table(d, values='hours-per-week', index='native-country', columns='sex', aggfunc='count')
dmean = dmean.apply(lambda x: (x - dmean[' Female'].mean())/dstd[' Female'].std())
dstd = dstd.apply(lambda x: (x - dmean[' Male'].mean())/dstd[' Male'].std())
print("z-score da média do tempo de trabalho por semana para mulheres em cada país: \n", dmean[' Female'])
print("\nz-score da média do tempo de trabalho por semana para homens em cada país: \n", dmean[' Male'])
print("\nz-score do desvio padrão do tempo de trabalho por semana para mulheres em cada país: \n", dstd[' Female'])
print("\nz-score desvio padrão do tempo de trabalho por semana para homens em cada país: \n", dstd[' Male'])

z-score da média do tempo de trabalho por semana para mulheres em cada país:
 native-country
 ?                            -0.062710
 Cambodia                     -0.170075
 Canada                       -0.145918
 China                        -0.157997
 Columbia                     -0.155984
 Cuba                         -0.145247
 Dominican-Republic           -0.148602
 Ecuador                      -0.166049
 El-Salvador                  -0.148602
 England                      -0.150615
 France                       -0.164036
 Germany                      -0.131826
 Greece                       -0.168733
 Guatemala                    -0.158668
 Haiti                        -0.158668
 Holand-Netherlands           -0.171417
 Honduras                     -0.167391
 Hong                         -0.168062
 Hungary                      -0.168062
 India                        -0.164707
 Iran                         -0.166720
 Ireland                      -0.167391
 Italy                        -0.157997
 Jamaica                      -0.143234
 Japan                        -0.158668
 Laos                         -0.166720
 Mexico                       -0.074117
 Nicaragua                    -0.164036
 Outlying-US(Guam-USVI-etc)   -0.167391
 Peru                         -0.162694
 Philippines                  -0.123103
 Poland                       -0.159339
 Portugal                     -0.164036
 Puerto-Rico                  -0.137195
 Scotland                     -0.168733
 South                        -0.151957
 Taiwan                       -0.162023
 Thailand                     -0.164707
 Trinadad&Tobago              -0.164707
 United-States                 6.324867
 Vietnam                      -0.156655
 Yugoslavia                   -0.170075
Name:  Female, dtype: float64

z-score da média do tempo de trabalho por semana para homens em cada país:
 native-country
 ?                              0.109746
 Cambodia                      -0.161352
 Canada                        -0.117064
 China                         -0.135853
 Columbia                      -0.148602
 Cuba                          -0.135181
 Dominican-Republic            -0.148602
 Ecuador                       -0.159339
 El-Salvador                   -0.124445
 England                       -0.133168
 France                        -0.160681
 Germany                       -0.120419
 Greece                        -0.155984
 Guatemala                     -0.142563
 Haiti                         -0.155984
 Holand-Netherlands                  NaN
 Honduras                      -0.168062
 Hong                          -0.162694
 Hungary                       -0.167391
 India                         -0.112366
 Iran                          -0.148602
 Ireland                       -0.160681
 Italy                         -0.137195
 Jamaica                       -0.146589
 Japan                         -0.143905
 Laos                          -0.165378
 Mexico                         0.161416
 Nicaragua                     -0.157326
 Outlying-US(Guam-USVI-etc)    -0.167391
 Peru                          -0.160681
 Philippines                   -0.088209
 Poland                        -0.144576
 Portugal                      -0.155313
 Puerto-Rico                   -0.130484
 Scotland                      -0.167391
 South                         -0.138537
 Taiwan                        -0.147931
 Thailand                      -0.167391
 Trinadad&Tobago               -0.166720
 United-States                 12.905031
 Vietnam                       -0.142563
 Yugoslavia                    -0.163365
Name:  Male, dtype: float64

z-score do desvio padrão do tempo de trabalho por semana para mulheres em cada país:
 native-country
 ?                             0.053627
 Cambodia                      0.000927
 Canada                        0.012785
 China                         0.006856
 Columbia                      0.007844
 Cuba                          0.013114
 Dominican-Republic            0.011467
 Ecuador                       0.002904
 El-Salvador                   0.011467
 England                       0.010479
 France                        0.003892
 Germany                       0.019702
 Greece                        0.001586
 Guatemala                     0.006527
 Haiti                         0.006527
 Holand-Netherlands            0.000269
 Honduras                      0.002245
 Hong                          0.001915
 Hungary                       0.001915
 India                         0.003562
 Iran                          0.002574
 Ireland                       0.002245
 Italy                         0.006856
 Jamaica                       0.014102
 Japan                         0.006527
 Laos                          0.002574
 Mexico                        0.048028
 Nicaragua                     0.003892
 Outlying-US(Guam-USVI-etc)    0.002245
 Peru                          0.004550
 Philippines                   0.023984
 Poland                        0.006197
 Portugal                      0.003892
 Puerto-Rico                   0.017067
 Scotland                      0.001586
 South                         0.009820
 Taiwan                        0.004880
 Thailand                      0.003562
 Trinadad&Tobago               0.003562
 United-States                 3.188956
 Vietnam                       0.007515
 Yugoslavia                    0.000927
Name:  Female, dtype: float64

z-score desvio padrão do tempo de trabalho por semana para homens em cada país:
 native-country
 ?                             0.138277
 Cambodia                      0.005209
 Canada                        0.026948
 China                         0.017726
 Columbia                      0.011467
 Cuba                          0.018055
 Dominican-Republic            0.011467
 Ecuador                       0.006197
 El-Salvador                   0.023325
 England                       0.019043
 France                        0.005539
 Germany                       0.025301
 Greece                        0.007844
 Guatemala                     0.014432
 Haiti                         0.007844
 Holand-Netherlands                 NaN
 Honduras                      0.001915
 Hong                          0.004550
 Hungary                       0.002245
 India                         0.029254
 Iran                          0.011467
 Ireland                       0.005539
 Italy                         0.017067
 Jamaica                       0.012455
 Japan                         0.013773
 Laos                          0.003233
 Mexico                        0.163639
 Nicaragua                     0.007185
 Outlying-US(Guam-USVI-etc)    0.002245
 Peru                          0.005539
 Philippines                   0.041111
 Poland                        0.013444
 Portugal                      0.008174
 Puerto-Rico                   0.020361
 Scotland                      0.002245
 South                         0.016408
 Taiwan                        0.011797
 Thailand                      0.002245
 Trinadad&Tobago               0.002574
 United-States                 6.418816
 Vietnam                       0.014432
 Yugoslavia                    0.004221
Name:  Male, dtype: float64

### 15. Calcule a porporção de indivíduos que ganham bem por país (atributo *native-country*), sexo (atributo *sex*) e raça (atributo *race*).

In [167]:
d = data
d = d[d['salary'] == ' >50K']
dn = d.groupby('native-country').describe()
dn = dn.apply(lambda x: 100 * x / float(x.sum()))
ds = d.groupby('sex').describe()
ds = ds.apply(lambda x: 100 * x / float(x.sum()))
dr = d.groupby('race').describe()
dr = dr.apply(lambda x: 100 * x / float(x.sum()))

print("Proporção de indivíduos que ganham bem mais por país:\n",dn)
print("Proporção de indivíduos que ganham bem mais por sexo:\n",ds)
print("Proporção de indivíduos que ganham bem mais por raça:\n",dr)

Proporção de indivíduos que ganham bem mais por país:
                            age                                          \
                         count      mean       std       min       25%
native-country
 ?                    1.862007  2.572726  2.427141  1.850294  2.496205
 Cambodia             0.089274  2.404406  1.870387  2.270816  2.597403
 Canada               0.497386  2.656327  2.636369  2.523129  2.496205
 China                0.255070  2.585566  2.899831  2.439024  2.293810
 Columbia             0.025507  3.105001  3.547776  3.616484  3.255186
 Cuba                 0.318837  2.409713  2.354218  2.270816  2.361275
 Dominican-Republic   0.025507  1.770141  2.872009  1.850294  1.770956
 Ecuador              0.051014  2.756776  6.854122  2.270816  2.276944
 El-Salvador          0.114781  2.908318  2.883030  3.111859  2.833530
 England              0.382604  2.642636  3.241309  2.018503  2.513071
 France               0.153042  2.331169  2.675732  2.354920  2.142014
 Germany              0.561153  2.577388  2.739807  2.186712  2.344409
 Greece               0.102028  2.916379  2.353952  2.270816  3.440715
 Guatemala            0.038260  2.070000  2.890171  1.850294  2.091415
 Haiti                0.051014  2.785795  1.666739  3.448276  2.867263
 Honduras             0.012753  2.727758       NaN  3.952902  3.170855
 Hong                 0.076521  1.828178  1.196985  2.270816  1.905886
 Hungary              0.038260  3.327477  0.601268  4.625736  3.778040
 India                0.510139  2.415807  2.369319  1.934399  2.293810
 Iran                 0.229563  2.392430  1.952300  2.691337  2.378141
 Ireland              0.063767  2.530430  3.676569  2.523129  2.158880
 Italy                0.318837  2.922763  2.499043  2.439024  2.968460
 Jamaica              0.127535  2.443374  2.746017  2.439024  2.310676
 Japan                0.306083  2.488353  1.617845  2.775442  2.546804
 Laos                 0.025507  2.379533  3.040951  2.691337  2.462473
 Mexico               0.420865  2.349635  2.454108  1.766190  2.226345
 Nicaragua            0.025507  1.973271  1.689417  2.439024  2.125148
 Peru                 0.025507  1.944253  0.168942  2.775442  2.243211
 Philippines          0.777962  2.480385  2.071358  2.270816  2.496205
 Poland               0.153042  2.935725  3.917194  2.102607  2.631135
 Portugal             0.051014  2.321496  3.175625  2.018503  2.276944
 Puerto-Rico          0.153042  2.698739  2.342033  2.607233  2.597403
 Scotland             0.038260  3.056636  1.945888  3.952902  3.238320
 South                0.204056  2.604428  2.363373  2.018503  2.749199
 Taiwan               0.255070  2.367926  2.105235  2.523129  2.344409
 Thailand             0.038260  1.895888  0.904535  2.523129  2.057683
 Trinadad&Tobago      0.025507  2.466589  4.899310  2.354920  2.378141
 United-States       91.455172  2.570892  2.505299  1.597981  2.496205
 Vietnam              0.063767  2.054524  2.706233  1.934399  2.023950
 Yugoslavia           0.076521  2.331169  3.138559  2.439024  2.361275

                                                      fnlwgt            ...  \
                          50%       75%       max      count      mean  ...
native-country                                                          ...
 ?                   2.556480  2.661795  3.083164   1.862007  2.353620  ...
 Cambodia            2.497027  2.453027  2.028398   0.089274  2.988981  ...
 Canada              2.675386  2.713987  3.083164   0.497386  2.541371  ...
 China               2.556480  2.687891  2.799189   0.255070  2.367833  ...
 Columbia            3.180737  3.066284  2.596349   0.025507  3.564117  ...
 Cuba                2.259215  2.453027  2.718053   0.318837  3.181299  ...
 Dominican-Republic  1.813317  1.813674  1.582150   0.025507  2.769521  ...
 Ecuador             2.170036  2.622651  3.651116   0.051014  2.130704  ...
 El-Salvador         2.972652  2.661795  3.204868   0.114781  1.881600  ...
 England             2.615933  2.713987  3.651116   0.382604  2.215942  ...
 France              2.199762  2.505219  2.596349   0.153042  2.169327  ...
 Germany             2.705113  2.727035  3.002028   0.561153  2.496734  ...
 Greece              3.151011  2.883612  2.352941   0.102028  1.533672  ...
 Guatemala           2.378121  2.218163  1.825558   0.038260  3.116609  ...
 Haiti               2.883472  2.818372  2.190669   0.051014  2.601087  ...
 Honduras            2.794293  2.453027  1.906694   0.012753  0.651867  ...
 Hong                1.753864  1.761482  1.622718   0.076521  3.703310  ...
 Hungary             3.388823  3.053236  2.434077   0.038260  2.164767  ...
 India               2.467301  2.544363  2.474645   0.510139  2.069256  ...
 Iran                2.318668  2.426931  2.555781   0.229563  2.257417  ...
 Ireland             2.378121  2.505219  2.758621   0.063767  1.705680  ...
 Italy               2.853746  2.922756  3.123732   0.318837  2.331346  ...
 Jamaica             2.378121  2.453027  2.677485   0.127535  2.662399  ...
 Japan               2.437574  2.466075  2.271805   0.306083  2.105615  ...
 Laos                2.437574  2.374739  2.028398   0.025507  2.782606  ...
 Mexico              2.378121  2.505219  2.636917   0.420865  3.803139  ...
 Nicaragua           2.021403  1.905010  1.582150   0.025507  5.029740  ...
 Peru                1.991677  1.761482  1.379310   0.025507  3.955879  ...
 Philippines         2.497027  2.505219  2.596349   0.777962  2.240622  ...
 Poland              3.151011  3.027140  3.204868   0.153042  2.255021  ...
 Portugal            2.378121  2.413883  2.271805   0.051014  1.345590  ...
 Puerto-Rico         2.853746  2.831420  2.474645   0.153042  2.784327  ...
 Scotland            2.913199  2.896660  2.515213   0.038260  2.619625  ...
 South               2.705113  2.661795  2.434077   0.204056  2.020194  ...
 Taiwan              2.407848  2.218163  2.474645   0.255070  2.431590  ...
 Thailand            1.843044  1.774530  1.501014   0.038260  2.512446  ...
 Trinadad&Tobago     2.526754  2.596555  2.312373   0.025507  2.038489  ...
 United-States       2.615933  2.661795  3.651116  91.455172  2.357135  ...
 Vietnam             1.783591  2.244259  2.068966   0.063767  1.781344  ...
 Yugoslavia          2.110583  2.035491  2.677485   0.076521  2.478179  ...

                    capital-loss           hours-per-week                      \
                             75%       max          count      mean       std
native-country
 ?                      0.000000  6.080849       1.862007  2.517181  3.032639
 Cambodia               0.000000  0.000000       0.089274  2.210577  0.000000
 Canada                 0.000000  3.850124       0.497386  2.522325  3.586640
 China                  0.000000  4.888565       0.255070  2.149786  3.009509
 Columbia               0.000000  0.000000       0.025507  2.763221  0.000000
 Cuba                   0.000000  3.850124       0.318837  2.345422  3.701623
 Dominican-Republic     0.000000  0.000000       0.025507  2.597427  2.942478
 Ecuador                0.000000  0.000000       0.051014  2.694140  0.743088
 El-Salvador            0.000000  0.000000       0.114781  2.486899  2.101770
 England                0.000000  3.850124       0.382604  2.461109  3.291164
 France                 0.000000  0.000000       0.153042  2.804669  4.862854
 Germany                0.000000  4.001943       0.561153  2.485643  3.550361
 Greece                 7.243231  4.888565       0.102028  2.797761  3.502325
 Guatemala              0.000000  0.000000       0.038260  2.026362  1.716088
 Haiti                  0.000000  0.000000       0.051014  2.362554  2.717441
 Honduras              28.972924  3.850124       0.012753  3.315865       NaN
 Hong                   0.000000  4.001943       0.076521  2.486899  2.972352
 Hungary                0.000000  0.000000       0.038260  2.763221  2.972352
 India                  0.000000  4.888565       0.510139  2.568414  2.989063
 Iran                   0.000000  3.819761       0.229563  2.625060  3.069126
 Ireland                0.000000  3.819761       0.063767  2.652692  3.256048
 Italy                  0.000000  4.001943       0.318837  2.509004  2.822430
 Jamaica                0.000000  0.000000       0.127535  2.271367  1.472573
 Japan                  0.000000  4.001943       0.306083  2.650389  4.791554
 Laos                   0.000000  0.000000       0.025507  2.210577  0.000000
 Mexico                 0.000000  3.819761       0.420865  2.573982  3.245032
 Nicaragua             21.112761  3.740815       0.025507  2.072416  1.050885
 Peru                  21.112761  3.740815       0.025507  2.210577  0.000000
 Philippines            0.000000  4.888565       0.777962  2.378182  2.510401
 Poland                 0.000000  0.000000       0.153042  2.155312  2.906777
 Portugal               0.000000  0.000000       0.051014  2.293473  1.775135
 Puerto-Rico            0.000000  3.850124       0.153042  2.178339  3.286636
 Scotland               0.000000  0.000000       0.038260  2.579006  3.432176
 South                  0.000000  4.001943       0.204056  2.842663  3.252372
 Taiwan                 0.000000  4.888565       0.255070  2.586375  4.008298
 Thailand               0.000000  0.000000       0.038260  3.223758  4.290221
 Trinadad&Tobago       21.558323  3.819761       0.025507  2.210577  0.000000
 United-States          0.000000  7.455315      91.455172  2.514828  3.277045
 Vietnam                0.000000  0.000000       0.063767  2.166365  0.531710
 Yugoslavia             0.000000  0.000000       0.076521  2.735589  3.329830


                          min       25%       50%       75%       max
native-country
 ?                   0.645682  2.434941  2.322880  2.577652  3.197442
 Cambodia            3.228410  2.434941  2.322880  2.062121  1.598721
 Canada              1.614205  2.434941  2.613240  2.629205  2.877698
 China               0.807103  2.313194  2.322880  2.126563  2.398082
 Columbia            4.035513  3.043677  2.903600  2.577652  1.998401
 Cuba                1.129944  2.434941  2.322880  2.577652  2.398082
 Dominican-Republic  3.228410  2.647999  2.729384  2.603428  2.158273
 Ecuador             3.631961  2.967585  2.903600  2.577652  1.998401
 El-Salvador         2.824859  2.434941  2.613240  2.577652  2.198241
 England             1.614205  2.434941  2.322880  2.577652  3.397282
 France              3.228410  2.434941  2.758420  2.577652  3.956835
 Germany             0.645682  2.434941  2.613240  2.577652  2.797762
 Greece              2.824859  2.434941  2.903600  3.157623  2.597922
 Guatemala           2.421308  2.130574  2.322880  2.062121  1.598721
 Haiti               2.824859  2.358849  2.322880  2.268334  2.238209
 Honduras            4.842615  3.652412  3.484321  3.093182  2.398082
 Hong                3.228410  2.434941  2.322880  2.255445  2.597922
 Hungary             3.228410  2.739309  2.903600  2.835417  2.398082
 India               1.614205  2.434941  2.409988  2.577652  2.877698
 Iran                2.421308  2.434941  2.613240  2.770976  2.797762
 Ireland             3.228410  2.434941  2.322880  3.093182  2.398082
 Italy               1.614205  2.434941  2.322880  2.577652  2.677858
 Jamaica             2.824859  2.343631  2.322880  2.062121  1.998401
 Japan               1.694915  2.434941  2.468060  2.577652  3.956835
 Laos                3.228410  2.434941  2.322880  2.062121  1.598721
 Mexico              2.421308  2.434941  2.322880  2.577652  3.197442
 Nicaragua           2.824859  2.206666  2.177700  1.997680  1.598721
 Peru                3.228410  2.434941  2.322880  2.062121  1.598721
 Philippines         2.824859  2.434941  2.322880  2.062121  3.197442
 Poland              0.807103  2.434941  2.322880  2.062121  1.998401
 Portugal            2.905569  2.374068  2.322880  2.191004  1.998401
 Puerto-Rico         0.645682  2.434941  2.322880  2.191004  1.998401
 Scotland            3.228410  2.434941  2.322880  2.577652  2.398082
 South               2.824859  2.434941  2.903600  3.093182  2.797762
 Taiwan              2.179177  2.434941  2.322880  2.835417  3.357314
 Thailand            4.035513  3.043677  2.903600  3.222065  2.997602
 Trinadad&Tobago     3.228410  2.434941  2.322880  2.062121  1.598721
 United-States       0.080710  2.434941  2.322880  2.577652  3.956835
 Vietnam             2.905569  2.434941  2.322880  2.062121  1.598721
 Yugoslavia          3.228410  2.434941  2.671312  2.990076  2.597922

[40 rows x 48 columns]
Proporção de indivíduos que ganham bem mais por sexo:
                age                                                          \
             count       mean        std   min        25%        50%   75%
sex
 Female  15.036347  48.558951  49.939449  50.0  47.887324  48.235294  49.0
 Male    84.963653  51.441049  50.060551  50.0  52.112676  51.764706  51.0

                  fnlwgt             ... capital-loss             \
          max      count       mean  ...          75%        max
sex                                  ...
 Female  50.0  15.036347  49.317814  ...          NaN  55.077015
 Male    50.0  84.963653  50.682186  ...          NaN  44.922985

        hours-per-week                                                         \
                 count       mean        std        min        25%        50%
sex
 Female      15.036347  46.578358  51.159155  66.666667  48.717949  47.619048
 Male        84.963653  53.421642  48.840845  33.333333  51.282051  52.380952


               75%   max
sex
 Female  47.368421  50.0
 Male    52.631579  50.0

[2 rows x 48 columns]
Proporção de indivíduos que ganham bem mais por raça:
                            age                                              \
                         count       mean        std        min        25%
race
 Amer-Indian-Eskimo   0.459125  18.758700  20.427817  18.918919  18.424754
 Asian-Pac-Islander   3.519959  20.024614  20.718091  20.720721  19.690577
 Black                4.935595  20.657863  20.113549  18.918919  20.815752
 Other                0.318837  19.583610  17.005677  24.324324  20.253165
 White               90.766484  20.975215  21.734867  17.117117  20.815752

                                                         fnlwgt             \
                           50%        75%        max      count       mean
race
 Amer-Indian-Eskimo  19.093079  19.052523  16.445623   0.459125  14.223392
 Asian-Pac-Islander  19.809069  20.185376  19.893899   3.519959  18.219759
 Black               21.002387  20.391349  23.872679   4.935595  25.877291
 Other               19.093079  19.361483  15.915119   0.318837  21.245835
 White               21.002387  21.009269  23.872679  90.766484  20.433723

                     ... capital-loss            hours-per-week             \
                     ...          75%        max          count       mean
race                 ...
 Amer-Indian-Eskimo  ...          NaN  15.247571       0.459125  19.997551
 Asian-Pac-Islander  ...          NaN  18.625636       3.519959  19.958836
 Black               ...          NaN  23.168286       4.935595  19.759700
 Other               ...          NaN  14.553447       0.318837  19.999035
 White               ...          NaN  28.405059      90.766484  20.284878

                                                                       \
                           std        min   25%        50%        75%
race
 Amer-Indian-Eskimo  18.857308  34.482759  20.0  19.801980  20.080321
 Asian-Pac-Islander  21.306903   8.620690  20.0  19.801980  20.080321
 Black               20.741332   3.448276  20.0  19.801980  19.678715
 Other               17.993050  51.724138  20.0  19.801980  20.080321
 White               21.101407   1.724138  20.0  20.792079  20.080321


                           max
race
 Amer-Indian-Eskimo  16.018307
 Asian-Pac-Islander  22.654462
 Black               22.654462
 Other               16.018307
 White               22.654462

[5 rows x 48 columns]